input[type=text] {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #0d519c;
    font-size: 13px;
}

input[type=number] {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #0d519c;
    font-size: 13px;
}

.service-img {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

select {
    height: 40px;
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding-left: 11px;
    background: #fff;
    font-size: 13px;
    border: 1px solid #0d519c;
}

select option {
    font-size: 13px;
    line-height: 10;
}

.btn-project {
    height: 40px;
    width: auto;
    border-radius: 6px;
    background: #0d519c;
    border: 1px solid #0d519c;
    color: #fff;
    margin-bottom: 7%;
    outline: none;
    padding: 12px;
    font-size: 13px;
}

.close-btn-project {
    height: 40px;
    width: auto;
    border-radius: 6px;
    background: #f66531;
    border: 1px solid #f66531;
    color: #fff;
    margin-bottom: 7%;
    outline: none;
    padding: 12px;
    font-size: 13px;
}