<div class="side-bar project-font">
    <div class="mt-3">
        <div class="d-flex flex-row p-2">
            <div class="w-25 border rounded p-2">
                <img src="../../../../assets/image/logo-main.png" alt="company_logo" class="img-fluid" style="height: 50px; width: 80px;">
            </div>
            <div class="w-75 p-2">
                <h6 class="mb-0 font-weight-bold">{{userDetails.first_name | titlecase}} {{userDetails.last_name | titlecase}}</h6>
                <small>Admin</small>
            </div>
        </div>
    </div>
    <div class="service-mobile mt-4" style="height: 400px; overflow-y: auto;">
        <ul class="list-group font-weight-bold" style="font-size: 13px;">
            <li class="list-group-item border-0" style="cursor: pointer; outline: none;" routerLink="/admin/dashboard">
                Dashboard
            </li>
            <li class="list-group-item border-0" style="cursor: pointer; outline: none;" routerLink="/admin/vendor/vendor-list">
                Pending Vendors
            </li>
            <li class="list-group-item border-0" style="cursor: pointer; outline: none;" routerLink="/admin/vendor/vendor-verified-list">Verified Vendors</li>
            <li class="list-group-item border-0" style="cursor: pointer; outline: none;" routerLink="/admin/customer/customer-list/pending">
                Pending Customers
            </li>
        </ul>
    </div>
</div>
<!--  -->
<div class="mobile project-font">
    <button class="navbar-buttons" type="submit" (mousedown)="sidebarToggle()"><i class="fa fa-bars" aria-hidden="true"
            style="color: lightblue; zoom: 1.5;"></i></button>
</div>

<div class="mobile-sidebar shadow project-font" [ngClass]="{'open-sidebar': status === true, 'close-sidebar': status === false}">
    <div (mousedown)="closeSidebar()" class="close-button"><i class="fa fa-times" aria-hidden="true" style="color: lightblue; zoom: 1.5;"></i></div>
    <div class="mt-3">
        <div class="d-flex flex-row p-2">
            <div class="w-25 border rounded p-2">
                <img src="../../../../assets/image/logo-main.png" alt="company_logo" class="img-fluid" style="height: 50px; width: 80px;">
            </div>
            <div class="w-75 p-2">
                <h6 class="mb-0 font-weight-bold">{{userDetails.first_name | titlecase}} {{userDetails.last_name | titlecase}}</h6>
                <small>Admin</small>
            </div>
        </div>
    </div>
    <div class="service-mobile mt-4" style="height: 400px; overflow-y: auto;">
        <ul class="list-group font-weight-bold" style="font-size: 13px;">
            <li class="list-group-item border-0" style="cursor: pointer; outline: none;" routerLink="/admin/dashboard">
                Dashboard
            </li>
            <li class="list-group-item border-0" style="cursor: pointer; outline: none;" routerLink="/admin/vendor/vendor-list">
                Pending Vendors
            </li>
            <li class="list-group-item border-0" style="cursor: pointer; outline: none;" routerLink="/admin/vendor/vendor-verified-list">Verified Vendors</li>
            <li class="list-group-item border-0" style="cursor: pointer; outline: none;" routerLink="/admin/customer/customer-list/pending">
                Pending Customers
            </li>
        </ul>
    </div>
</div>