<footer class="p-5 p-font mobileDisplay-None-Content desktopDisplay-Block-Content">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="text-color mr-5">
                <h3 class="ml-2">Petcoset</h3>
                <img src="../../../../assets/images/play-store/google-store-small.png" alt="" width="155px" height="60px"><br>
                <img src="../../../../assets/images/play-store/app-store-small.png" alt="" width="155px" height="70px">
                <div>
                    Download petcoset app now
                </div>
            </div>
            <div class="text-color mr-5 footer-title">
                <h6>CONTACT</h6>
                <div class="single-footer-content">
                    <p class="py-3" style="font-size: 19px;">Welcome to petcoset</p>
                    <p class="font-weight-500"><span class="d-block">Phone /WhatsApp:</span> +917477883800</p>
                    <p class="font-weight-500"><span class="d-block">Mail:</span> info@petcoset.com, care@petcoset.com</p>
                    <p class="font-weight-500"><span class="d-block">Contact info:</span> NASSCOM, MANI BHANDAR BUILDING,<br> Webel Bhavan Premises, Salt lake, Sector 5, Kolkata 91</p>
                    <p class="social-icons topnav-element">
                        <a routerLink='#'><img src="../../../../assets/images/social-icon/linkedin.svg" alt="" height="25px" width="25px" class="mr-3"></a>
                        <a href='https://www.facebook.com/petcoset.s.79' target="_blank"><img src="../../../../assets/images/social-icon/facebook.svg" alt="" height="25px" width="25px" class="mr-3"></a>
                        <a href="https://mobile.twitter.com/petcoset" target="_blank"><img src="../../../../assets/images/social-icon/twitter.svg" alt="" height="25px" width="25px" class="mr-3"></a>
                        <a href='https://instagram.com/petcoset' target="_blank"><img src="../../../../assets/images/social-icon/instagram-sketched.svg" alt="" height="25px" width="25px" class="mr-3"></a>
                        <a href="#"><img src="../../../../assets/images/social-icon/rss.svg" alt="" height="25px" width="25px"></a>
                    </p>
                </div>
            </div>
            <div class="text-color mr-5 footer-title">
                <h6>INFORMATION</h6>
                <ul class="footer-list p-1">
                    <!--  <li><a href="#">My Account</a></li> -->
                    <li><a routerLink="/user/customer">Order History</a></li>
                    <!-- <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Contact info</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li> -->
                    <li><a routerLink="/document/payment-policy">Payment & Refund Policy</a></li>
                    <li><a routerLink="/document/document/Privacy policy">Privacy</a></li>
                    <li><a routerLink="/document/document/Term of Services">Terms & Condition</a></li>
                </ul>
            </div>
            <div class="text-color footer-title" style="width: 20%;">
                <h6>SUBSCRIBE TO OUR NEWSLETTER</h6>
                <div class="single-footer-content">
                    <p>
                        Subscribe to the Petcoset mailing list to receive updates on new arrivals, special offers and other discount information.
                    </p>
                    <div class="pt-2">
                        <div class="input-box-with-icon">
                            <input type="text" placeholder="Enter Your email" class="custom-input">
                            <button class="custom-buttom"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="text-center mt-3 p-2 p-font mobileDisplay-None-Content">
    <p class="footer-text-color" style="color: #0d519c;">Copyright © 2020 petcoset. All Rights Reserved</p>
</div>


<!-- mobile version developede by koustav -->

<footer class="p-font mobileDisplay-Block-Content desktopDisplay-None-Content">
    <div class="container-fluid">
        <div class="row text-color mt-5">
            <div class="col-sm-12 p-2">
                <h3>Petcoset!</h3>
            </div>
            <div class="col-sx-6 footer-text p-2" style="width: 55%;">
                <span>CONTACT</span>
                <div class="py-3 footer-text">Welcome to petcoset</div>
                <div class="single-footer-content">
                    <p class="font-weight-500"><span class="d-block">Contact info:</span> Webel Building, Sector V, Kolkata- 700109.</p>
                    <p class="social-icons topnav-element">
                        <a href="#" target="_blank"><img src="../../../../assets/images/social-icon/linkedin.svg" alt="" height="25px" width="25px" class="mr-2"></a>
                        <a href="https://www.facebook.com/petcoset.s.79"><img src="../../../../assets/images/social-icon/facebook.svg" alt="" height="25px" width="25px" class="mr-2"></a>
                        <a href="https://mobile.twitter.com/petcoset" target="_blank"><img src="../../../../assets/images/social-icon/twitter.svg" alt="" height="25px" width="25px" class="mr-2"></a>
                        <a href="https://instagram.com/petcoset" target="_blank"><img src="../../../../assets/images/social-icon/instagram-sketched.svg" alt="" height="25px" width="25px" class="mr-2"></a>
                        <a href="#"><img src="../../../../assets/images/social-icon/rss.svg" alt="" height="25px" width="25px"></a>
                    </p>
                </div>
                <div class="py-4">
                    <div class="text-color footer-title">
                        <h6>SUBSCRIBE TO OUR NEWSLETTER</h6>
                        <div class="single-footer-content">
                            <p>
                                Subscribe to the Petcoset mailing list to receive updates on new arrivals, special offers and other discount information.
                            </p>
                            <div class="pt-2">
                                <div class="input-box-with-icon">
                                    <input type="text" placeholder="Enter Your email" class="custom-input-mobile">
                                    <button class="custom-buttom-mobile"><i class="fa fa-envelope" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sx-6 footer-text p-2" style="width: 45%;">
                <span>INFORMATION</span>
                <ul class="footer-list footer-title p-1 mt-3">
                    <!--  <li class="py-2"><a href="#">My Account</a></li> -->
                    <li class="py-2"><a routerLink="/user/customer">Order History</a></li>
                    <!--  <li class="py-2"><a href="#">Testimonials</a></li> -->
                    <!-- <li class="py-2"><a href="#">Contact info</a></li> -->
                    <!-- <li class="py-2"><a href="#">About Us</a></li> -->
                    <!-- <li class="py-2"><a href="#">Contact Us</a></li> -->
                    <li><a routerLink="/document/payment-policy">Payment & Refund Policy</a></li>
                    <li class="py-2"><a routerLink="/document/document/Privacy policy">Privacy</a></li>
                    <li class="py-2"><a routerLink="/document/document/Term of Services">Terms & Condition</a></li>
                </ul>
            </div>
        </div>
        <hr style="border-color: #0d519c;">

        <div class="row">
            <div class="col-sx-6 w-50 text-right">
                <img src="../../../../assets/images/play-store/google-store-small.png" alt="" width="155px" height="60px" class="pr-2 mt-1">
            </div>
            <div class="col-sx-6 w-50">
                <img src="../../../../assets/images/play-store/app-store-small.png" alt="" width="155px" height="70px" class="pl-2">
            </div>
        </div>

        <div class="w-100 text-center text-color">
            <b>Download petcoset app now</b>
        </div>
    </div>
</footer>
<div class="text-center mt-3 p-2 p-font mobileDisplay-Block-Content desktopDisplay-None-Content">
    <p class="footer-text-color" style="color: #0d519c; font-size: 14px;">Copyright © 2020 petcoset. All Rights Reserved</p>
</div>