.login-bg {
    background-image: url("../../../assets/images/login/WebBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.card {
    width: 400px;
    max-height: 400px;
    position: absolute;
    top: 30%;
    left: 40%;
}

.skip-text {
    position: absolute;
    right: 34px;
    top: 23px;
    z-index: 999;
    font-size: 11px;
    color: #0d519c;
    font-weight: 600;
    text-decoration: none;
}

.login-box-text {
    font-weight: 600;
}

.login-button {
    background: #0d519c;
    width: auto;
    height: 34px;
    border-radius: 6px;
    border: 1px solid #0d519c;
    color: white;
    outline: none;
    font-size: 13px;
}