<article class="p-font border-bottom mobileDisplay-None-Content desktopDisplay-Block-Content">
    <div class="upper-part">
        <div class="text-center text-white pt-4">
            <h1>Subscription Plans</h1>
            <p class="sub-title">We bring the best plan for you</p>
        </div>
    </div>
    <div class="lower-part border">
        <div class="d-flex justify-content-center">
            <div class="subscription-card mr-5" style="background: #F2F3F4;">
                <div class="text-center p-text-color pt-4">
                    <h2>Regular</h2>
                    <h2 style="line-height: 0.7;">Subscription</h2>
                    <div class="p-3">
                        <img src="../../../assets/images/subscription/Regular.png" alt="" class="img-fluid" style="width: 25%;">
                    </div>
                    <div class="p-text-color" style="font-size: 25px;">
                        <i class="fa fa-inr" aria-hidden="true"></i><span style="font-size: 30px; font-weight:600">4,999 </span>/ Year
                    </div>
                </div>
                <hr style="border-color: #0d519c;width: 75%;">
                <div class="text-center p-text-color mt-4" style="height: 195px">
                    <p class="subscription-text">Boarding - 10 days</p>
                    <p class="subscription-text">Grooming - 6 sittings</p>
                    <p class="subscription-text">Walk - 15 visits</p>
                </div>
                <div class="text-center p-font">
                    <button type="submit" class="subscribe-blue-button" (mousedown)="subscribe('regular')">Subscribe</button>
                </div>
            </div>
            <div class="subscription-card mr-5" style="background: #1C90DD;">
                <div class="text-center text-white pt-4">
                    <h2>Premium</h2>
                    <h2 style="line-height: 0.7;">Subscription</h2>
                    <div class="p-3">
                        <img src="../../../assets/images/subscription/Premium.png" alt="" class="img-fluid" style="width: 25%;">
                    </div>
                    <div class="text-white" style="font-size: 25px;">
                        <i class="fa fa-inr mr-3" aria-hidden="true"></i> <span style="font-size: 30px; font-weight:600">7,999</span> / Year
                    </div>
                </div>
                <hr style="border-color: #fff; width: 75%;">
                <div class="text-center p-text-color mt-4" style="height: 195px;">
                    <p class="subscription-text text-white">Home sitting - 5 days</p>
                    <p class="subscription-text text-white">Boarding - 20 days</p>
                    <p class="subscription-text text-white">Grooming - 12 sittings</p>
                    <p class="subscription-text text-white">Walk - 20 visits</p>
                </div>
                <div class="text-center p-font">
                    <button type="submit" class="subscribe-white-button" (mousedown)="subscribe('premium')">Subscribe</button>
                </div>
            </div>
            <div class="subscription-card" style="background: #013566;">
                <div class="text-center text-white pt-4">
                    <h2>Training</h2>
                    <h2 style="line-height: 0.7;">Subscription</h2>
                    <div class="p-3">
                        <img src="../../../assets/images/subscription/Training.png" alt="" class="img-fluid" style="width: 25%;">
                    </div>
                    <div class="text-white">
                        <div class="row">
                            <div class="col-12 text-center">
                                <span style="font-size: 20px;"><i class="fa fa-inr mr-3" aria-hidden="true"></i> <span style="font-size: 30px; font-weight:600">3,499 </span>/until Trained</span>
                            </div>
                            <div class="col-5"></div>
                            <div class="col-7 text-left" style="font-size: 13px;">
                                (any one)(within 3 months)
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-color: #fff; width: 75%; margin-top: 0rem;">
                <div class="text-center p-text-color mt-4" style="height: 190px;">
                    <p class="subscription-text text-white">Behavioural Modification</p>
                    <p class="subscription-text text-white">Obedience training</p>
                    <p class="subscription-text text-white">Scientific training</p>
                    <p class="subscription-text text-white">Agility training</p>
                    <p class="subscription-text text-white">Therapy training</p>
                </div>
                <div class="text-center p-font">
                    <button type="submit" class="subscribe-training-button" (mousedown)="subscribe('training')">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</article>

<!-- mobile version developed by koustav -->

<article class="p-font border-bottom mobileDisplay-Block-Content desktopDisplay-None-Content">
    <div class="upper-part-mobile">
        <div class="text-center text-white pt-5">
            <h3>Subscription Plans</h3>
            <p class="sub-title-mobile">We bring the best plan for you</p>
        </div>
    </div>
    <div class="pt-3 pb-3" style="background: #fff;">
        <div class="subscription-card-mobile middle-x" style="background: #F2F3F4;">
            <div class="container-fluid pt-2">
                <div class="row">
                    <div class="col-5">
                        <div class="text-center p-text-color mt-4 pr-2 vertical-line">
                            <h6>Regular</h6>
                            <h6 style="line-height: 0.7;">Subscription</h6>
                            <div class="p-2">
                                <img src="../../../assets/images/subscription/Regular.png" alt="" class="img-fluid" style="width: 50%;">
                            </div>
                            <div class="p-text-color" style="font-size: 15px;">
                                <i class="fa fa-inr mr-1" aria-hidden="true"></i><span style="font-size: 15px; font-weight:600">4,999 </span>/ Year
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-left p-text-color mt-4" style="height: 100px">
                            <p class="subscription-text-mobile">Boarding - 10 days</p>
                            <p class="subscription-text-mobile">Grooming - 6 sittings</p>
                            <p class="subscription-text-mobile">Walk - 15 visits</p>
                        </div>
                        <div class="text-center p-font">
                            <button type="submit" class="subscribe-blue-button-mobile">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscription-card-mobile middle-x mt-3" style="background: #1C90DD;">
            <div class="container-fluid pt-2">
                <div class="row">
                    <div class="col-5 text-white">
                        <div class="text-center text-white p-text-color mt-4 pr-2 vertical-line-white">
                            <h6>Premium</h6>
                            <h6 style="line-height: 0.7;">Subscription</h6>
                            <div class="p-2">
                                <img src="../../../assets/images/subscription/Premium.png" alt="" class="img-fluid" style="width: 50%;">
                            </div>
                            <div class="text-white" style="font-size: 15px;">
                                <i class="fa fa-inr mr-1" aria-hidden="true"></i><span style="font-size: 15px; font-weight:600">7,999 </span>/ Year
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-left p-text-color mt-4 text-white" style="height: 100px">
                            <p class="subscription-text-mobile">Home sitting - 5 days</p>
                            <p class="subscription-text-mobile">Boarding - 20 days/p>
                                <p class="subscription-text-mobile">Grooming - 12 sittings</p>
                                <p class="subscription-text-mobile">Walk - 20 visits</p>
                        </div>
                        <div class="text-center p-font">
                            <button type="submit" class="subscribe-white-button-mobile">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscription-card-mobile middle-x mt-3" style="background: #013566;;">
            <div class="container-fluid pt-2">
                <div class="row">
                    <div class="col-5 text-white">
                        <div class="text-center text-white p-text-color mt-4 pr-2 vertical-line-white">
                            <h6>Training</h6>
                            <h6 style="line-height: 0.7;">Subscription</h6>
                            <div class="p-2">
                                <img src="../../../assets/images/subscription/Premium.png" alt="" class="img-fluid" style="width: 50%;">
                            </div>
                            <div class="text-white" style="font-size: 15px;">
                                <i class="fa fa-inr mr-1" aria-hidden="true"></i><span style="font-size: 15px; font-weight:600">3,499</span>/
                                <p><span style="font-size: 1vh;">until trained(any one)(within 3 months)</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 pr-0">
                        <div class="text-left p-text-color mt-4 text-white" style="height: 100px">
                            <p class="subscription-text-mobile">Behavioural Modification</p>
                            <p class="subscription-text-mobile">Obedience training</p>
                            <p class="subscription-text-mobile">Scientific training</p>
                            <p class="subscription-text-mobile">Agility training</p>
                            <p class="subscription-text-mobile">Therapy training</p>
                        </div>
                        <div class="text-center p-font">
                            <button type="submit" class="subscribe-training-button-mobile">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>