<div class="card py-3">
    <div class="container p-color">
        <div class="row">
            <div class="col-12">
                <h3 class="text-uppercase">Payment & Refund Policy</h3>
            </div>
            <div class="col-12 my-3" style="font-size: 13px;">
                <h5><b>Payment Policy Terms</b></h5>
                <ul>
                    <li>
                        <p>
                            All transactions conducted via the petcoset.com (a copyrighted entity of Petcoset Pvt. Ltd.; Petcoset and Petcoset Pvt. Ltd. are same) portal are between Pet Owners and Service Providers. Except for the limited refunds and the Petcoset Guarantee, you
                            agree that Petcoset has no liability for damages associated with Pet Care Services (which may include bodily injury to, or death of, a pet) or resulting from any other transactions between users of the Petcoset Service.
                        </p>
                    </li>
                    <li>
                        <p>
                            The total amount Pet Owners are charged for a Booking may also include a service fee/charges including GST payable to Petcoset.
                        </p>
                    </li>
                    <li>
                        <p>
                            The purchase of Pet Care Services is a transaction between the Pet Owner and the Service Provider. Petcoset’s role is to facilitate the transaction.
                        </p>
                    </li>
                    <li>
                        <p>
                            We will collect payment on behalf of Service provider from the Pet Owner at the time of Booking and initiate payment to the Service Provider’s account 48 hours after completion of the service period indicated in the Booking.
                        </p>
                    </li>
                    <li>
                        <p>
                            We charge service fees for some aspects of the Petcoset aggregation Service. If you are a Service Provider, except where otherwise specified via the Petcoset Service, our service fee is calculated as a percentage of the fees a Pet Owner agrees to pay
                            to you in a Booking and is collected from each Booking.
                        </p>
                    </li>
                    <li>
                        <p>
                            If you are a Pet Owner, you acknowledge and agree that, if you fail to retrieve your pet at the end of the service period agreed in a Booking, you will be charged for additional service time at the daily rate established in the Booking.
                        </p>
                    </li>
                    <li>
                        <p>
                            If you are a Service Provider, Petcoset reserves the right to issue a hold on amounts otherwise payable to you. If there is a reasonable suspicion of fraudulent activity involving your account(s) or for other similarly compelling reason involving protection
                            of Petcoset, the Petcoset community or third-party rights. We may alsorecommend that third party payment service providers restrict your access to funds in your account under the same circumstances.
                        </p>
                    </li>
                    <li>
                        <p>
                            Except for taxes on Petcoset income and gross receipts or where Petcoset is otherwise required to collect GST, you acknowledge that you are solely responsible to pay any applicable goods and service tax that arise as a result of your purchase, provision,
                            or use of Pet Care Services via the Petcoset Service.
                        </p>
                    </li>
                    <li>
                        <p>
                            Pet Owners who arrange for Pet Care Services and fail to retrieve their pet after the service period identified in a Booking agree that Petcoset (or the Service Provider) may, in its (or his or her) sole discretion, place the pet in foster care, transfer
                            care to animal control or other law enforcement authorities, or find other alternate care.
                        </p>
                    </li>
                </ul>

                <p>
                    While availing any of the payment method/s available on the Platform, we will not be responsible or assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to You due to:
                </p>

                <ul>
                    <li>Lack of authorization for any transaction/s, or</li>
                    <li>Exceeding the preset limit mutually agreed by You and between "Bank/s", or</li>
                    <li>Any payment issues arising out of the transaction, or</li>
                    <li>Decline of transaction for any other reason/s</li>
                </ul>
                <p>
                    All payments made against the purchases/services on Platform by you shall be compulsorily in Indian Rupees acceptable in the Republic of India. Platform will not facilitate transaction with respect to any other form of currency with respect to the purchases
                    made on Platform. Before delivering your order, Service provider may request you to provide supporting documents (including but not limited to Govt. issued ID and address proof) to establish the ownership of the payment instrument
                    used by you for your purchase. This is done in the interest of providing a safe online shopping environment to Our Users.
                </p>
                <h5><b>Further</b></h5>
                <p>
                    Transactions, Transaction Price and all commercial terms such as Delivery, Dispatch of products and/or services are as per principal to principal bipartite contractual obligations between Buyer and Seller and payment facility is merely used by the Buyer
                    and Seller to facilitate the completion of the Transaction. Use of the payment facility shall not render Petcoset.com liable or responsible for the non-delivery, non-receipt, non-payment, damage, breach of representations and warranties,
                    non-provision of after sales or warranty services or fraud as regards the services listed on petcoset.com Platform. You have specifically authorized Petcoset or its service providers to collect, process, facilitate and remit payments
                    and / or the Transaction Price electronically before delivery of service. Your relationship with Petcoset is on a principal to principal basis and by accepting these Terms of Use you agree that Petcoset is an independent contractor
                    for all purposes, and does not have control of or liability for the products or services that are listed on Petcoset’s Platform that are paid for by using the Payment Facility. Petcoset.com does not guarantee the identity of any User
                    nor does it ensure that a Buyer or a Seller will complete a transaction. You understand, accept and agree that the payment facility provided by Petcoset.com is neither a banking nor financial service but is merely a facilitator providing
                    an electronic, automated online electronic payment, receiving payment through Cash On Delivery, collection and remittance facility for the Transactions on the Petcoset.com Platform using the existing authorized banking infrastructure
                    and Credit Card payment gateway networks. Further, by providing Payment Facility, Petcoset.com is neither acting as trustees nor acting in a fiduciary capacity with respect to the Transaction or the Transaction Price.
                </p>
                <h5><b>Payment Facility for Buyers</b></h5>
                <p>
                    You, as a Buyer, understand that upon initiating a Transaction You are entering into a legally binding and enforceable contract with the Seller to purchase the products and /or services from the Seller using the Payment Facility, and You shall pay the
                    Transaction Price through Your Issuing Bank to the Seller using Payment Facility. You, as a Buyer, may agree with the Seller through electronic communication and electronic records and using the automated features as may be provided
                    by Payment Facility on any extension / increase in the Delivery time and the Transaction shall stand amended to such extent. Any such extension / increase of Dispatch / Delivery time or subsequent novation / variation of the Transaction
                    should be in compliance with Payment Facility Rules and Policies. You, as a Buyer, shall electronically notify Payment Facility using the appropriate Petcoset Platform features immediately upon Delivery or non-Delivery within the time
                    period as provided in Policies. Non-notification by You of Delivery or non-Delivery within the time period specified in the Policies shall be construed as a deemed Delivery in respect of that Transaction. Petcoset reserves the right
                    to impose limits on the number of Transactions or Transaction Price which Petcoset may receive from on an individual Valid Credit/Debit/ Cash Card / Valid Bank Account/ and such other infrastructure or any other financial instrument
                    directly or indirectly through payment aggregator or through any such facility authorized by Reserve Bank of India to provide enabling support facility for collection and remittance of payment or by an individual Buyer during any time
                    period, and reserves the right to refuse to process Transactions exceeding such limit. Petcoset reserves the right to refuse to process Transactions by Buyers with a prior history of questionable charges including without limitation
                    breach of any agreements by Buyer with Petcoset or breach/violation of any law or any charges imposed by Issuing Bank or breach of any policy. Compliance with Laws: As required by applicable law, if the Customer makes a purchase of
                    an amount equal to or above INR 2 00 000.00, the Customer will be required to upload a scanned copy of his/her PAN card on the Platform, within 4 days of making the purchase, failing which, the purchase made by the Customer will be
                    cancelled. The requirement to submit the PAN card arises only once and if it has been submitted once by the Customer, it need not be submitted again. The order of the Customer shall stand cancelled if there is a discrepancy between
                    the name of the Customer and the name on the PAN Card. Buyer and Seller shall comply with all the applicable laws (including without limitation Foreign Exchange Management Act, 1999 and the rules made and notifications issued there
                    under and the Exchange Control Manual as may be issued by Reserve Bank of India from time to time, Customs Act, Information and Technology Act, 2000 as amended by the Information Technology (Amendment) Act 2008, Prevention of Money
                    Laundering Act, 2002 and the rules made there under, Foreign Contribution Regulation Act, 1976 and the rules made there under, Income Tax Act, 1961 and the rules made there under, Export Import Policy of government of India) applicable
                    to them respectively for using Payment Facility and petcoset.com Platform. Buyer's arrangement with Issuing Bank: All Valid Credit / Debit/ Cash Card/ and other payment instruments are processed using a Credit Card payment gateway
                    or appropriate payment system infrastructure and the same will also be governed by the terms and conditions agreed to between the Buyer and the respective Issuing Bank and payment instrument issuing company. All Online Bank Transfers
                    from Valid Bank Accounts are processed using the gateway provided by the respective Issuing Bank which support Payment Facility to provide these services to the Users. All such Online Bank Transfers on Payment Facility are also governed
                    by the terms and conditions agreed to between Buyer and the respective Issuing Bank.
                </p>
                <h5><b>CANCELLATION AND REFUND</b></h5>
                <p>
                    Petcoset can help you find replacement Service Providers when Service Providers cancel Bookings near the start date of the service period identified in the Booking. The below cancellation policies will not be applicable if any booking gets cancelled due
                    to “Force Majeure” (earthquake, cyclone, pandemics etc.) or impractical/ impossible to serve the booking.
                </p>
                <ul>
                    <li>
                        <p>
                            Cancelled by Service provider: If a Service Provider cancels a Booking prior to or during the service period identified in the Booking, Company will refund the fees paid by the Pet Owner for Pet Care Services not provided, as well as any service charge
                            paid to Petcoset.com. Full refund will be initiated and completed within 7days of receiving Legitimate refund. If you are a service provider and cancel accepted Bookings without justification for more than 3 times, Petcoset
                            may block your account till further notice and you can file “re appeal” request to our Grievance committee.
                        </p>
                    </li>
                    <li>
                        <p>
                            Cancellations by Pet Owner: If a Pet Owner cancels a Booking prior to or during the service period specified in a Booking, we will refund fees in accordance with the cancellation policy selected by the Service Provider on the Petcoset Service. If we determine
                            in our reasonable discretion that a Service Provider has failed to provide Pet Care Services as agreed with the Pet Owner or is otherwise in breach of these Terms, then we may, in our reasonable discretion, cancel a Booking
                            and/or issue a full or partial refund to a Pet Owner.
                        </p>
                    </li>
                </ul>
                <p>
                    In all cases Refund and cancelation request by both the parties shall intimated through <b>care@petcost.com</b>
                </p>
                <p>
                    <b>Please Note</b> – Management may change /update Refund Policies are subject to change as and when it deems fit and proper.
                </p>
            </div>
        </div>
    </div>
</div>