<article class="p-font" style="min-height: 75vh;">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-4 col-md-4">
                <div class="card e1sGxS p-3 mt-3">
                    <div class="d-flex justify-content-start">
                        <div class="mr-3">
                            <img src="../../../assets/images/become-a-partner/dog.png" alt="" class="user-img rounded-circle">
                        </div>
                        <div>
                            <p>
                                <span style="font-size: 13px;">Hello,</span><br>
                                <span class="text-uppercase font-weight-bold">{{fullName}}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card e1sGxS p-3 mt-3 mb-3">
                    <div class="p-3 text-uppercase pet-border pointer user-font-size-14" (mousedown)="selectProfileType('details')" [ngClass]="{'selected-option': detailsSelected}">My Details
                    </div>
                    <div class="p-3 text-uppercase pet-border pointer user-font-size-14" (mousedown)="selectProfileType('profile')" [ngClass]="{'selected-option': profileSelected}">My Profile
                    </div>
                    <div class="p-3 text-uppercase pet-border pointer user-font-size-14" (mousedown)="selectProfileType('pet-details')" [ngClass]="{'selected-option': isPetDetaildSelected}">Save Pet details
                    </div>
                    <div class="p-3 text-uppercase pet-border pointer user-font-size-14" (mousedown)="selectProfileType('address')" [ngClass]="{'selected-option': addressSelected}">Your Addresses
                    </div>
                    <div class="p-3 text-uppercase pointer user-font-size-14" (mousedown)="selectProfileType('document')" [ngClass]="{'selected-option': isDocumentSelected}">
                        Upload Pet Images</div>
                </div>
            </div>
            <!-- [routerLink]="['/user/update-details', 1]" -->
            <div class="col-lg-8 col-md-8">
                <div [style.display]="selectProfileTypeCount === 1 ? 'block' : 'none'">
                    <form [formGroup]="parentForm">
                        <div class="card e1sGxS p-3 mt-3 mb-3">
                            <span class="p-color">Personal Information</span> <a class="edit-button badge badge-light" (mousedown)="updateProfile()">Edit</a>
                            <hr class="mt-0">
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                    <div class="form-div">
                                        <input type="text" formControlName="first_name" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="form-div">
                                        <input type="text" formControlName="last_name" readonly>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="form-div">
                                        <input type="text" formControlName="phoneNo" [placeholder]="isEditClicked ? '' : 'Phone Number'" [ngClass]="{'border border-info': isEditClicked}" [readonly]="!isEditClicked">
                                    </div>
                                    <div class="invalid-text" *ngIf="updatedPhoneNumberError">
                                        {{updatedPhoneNumberError}}
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="form-div">
                                        <input type="text" placeholder="Email (can't change)" readonly formControlName="email">
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <div class="form-div">
                                        <input type="text" readonly formControlName="gender">
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3"></div>
                                <div class="col-6 mt-3 text-right" *ngIf="isEditClicked">
                                    <button type="submit" class="close-btn-project mr-2 w-100" (mousedown)="backPage()">CANCEL</button>
                                </div>
                                <div class="col-6 mt-3" *ngIf="isEditClicked">
                                    <button type="submit" class="btn-project w-100" (mousedown)="updateCustomerDetails()">UPDATE</button>
                                </div>
                            </div>
                        </div>
                        <div class="card e1sGxS p-3 mt-3 mb-3">
                            <span class="p-color" style="line-height: 2;">Pet details</span>
                            <div class="alert alert-danger" *ngIf="petDetailsTextError">{{petDetailsTextError}}</div>
                            <div class="row" *ngIf="!petDetailsTextError">
                                <div class="col-md-4 col-lg-4 col-12" *ngFor="let pet of petDetails; let i = index">
                                    <div class="card mb-3 p-2 pointer p-color border-project">
                                        <div class="d-flex justify-content-start">
                                            <div class="pet-block">
                                                <img src="../../../../assets/images/customer_form_icon/Group 1.png" alt="" srcset="" class="pet-img mt-2">
                                            </div>
                                            <div style="width: 80%;">
                                                <h6 class="card-title mb-0 font-weight-bold">{{pet.pet_name}}</h6>
                                                <span style="font-size: 12px;">{{pet.breed_name}}</span><br>
                                                <span class="pointer user-font-size-14" [routerLink]="['/user/update-pet', pet.id]">Edit</span>
                                                <span class="mx-2 pointer user-font-size-14" (mousedown)="deletePetDetails(pet.id)">Delete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div [style.display]="selectProfileTypeCount === 2 ? 'block' : 'none'">
                    <div class="card e1sGxS p-3 mt-3 mb-4 p-color">
                        Your Profile
                        <hr class="mt-0 mb-0">
                        <div class="p-4">
                            <span class="user-font-size-14">Choose more service</span>
                            <form [formGroup]="myProfileServiceForm">
                                <div class="form-div">
                                    <select id="cars" formControlName="service" (change)="selectedService($event.target.value)" [style.border]="isProfileFormSubmitted && myProfileServiceForm.controls.service.errors ? '1px solid red' : ''">
                                        <option value="" selected>Select service</option>
                                        <option *ngFor="let service of serviceList" value="{{service.code}}">
                                            <span class="badge badge-secondary">{{service.value}}</span>
                                        </option>
                                    </select>
                                </div>
                                <div class="invalid-text" *ngIf="isProfileFormSubmitted && myProfileServiceForm.controls.service.errors">
                                    <div *ngIf="myProfileServiceForm.controls.service.errors.required">Please Select services
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn-project mt-4" (mousedown)="serviceSubmit()">SERVICE REQUEST</button>
                                </div>
                            </form>
                        </div>
                        <div class="row" *ngIf="subscriptionDetails.length !== 0">
                            <div class="col-12">
                                <div class="p-2">
                                    <p><span class="mb-5">Subscription Details</span></p>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="container border-project mb-3 rounded p-3" *ngFor="let subscription of subscriptionDetails" style="font-size: 13px;">
                                    <div class="col-12">
                                        <h5 class="card-text">{{subscription.service_name}}</h5>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6 col-12">
                                                Subscription Name: {{subscription.subscription_name}}
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-12">
                                                Remaining Service: {{subscription.service_count}}
                                            </div>
                                            <div class="col-md-6 col-lg-6 col-12">
                                                Valid Till: {{subscription.subscription_validity.split('T')[0] | date: 'dd-MM-yyyy'}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-2">
                                        <p><span class="mb-5">My chosen Service</span></p>
                                        <div class="row">
                                            <div class="col-12 text-uppercase text-center text-muted" *ngIf="bookingErrorText">
                                                {{bookingErrorText}}
                                            </div>
                                            <div class="col-12" *ngIf="!bookingErrorText">
                                                <div class="container" *ngFor="let service of bookingDetails" style="font-size: 13px;">
                                                    <div class="row border-project mb-3 rounded p-3">
                                                        <div class="col-12">
                                                            <h5 class="card-text">{{service.service_name}}</h5>
                                                            <div class="row">
                                                                <div class="col-md-6 col-lg-6 col-12" *ngIf="service.service_name !== 'Mating'">Date: {{service.booking_date.split('T')[0] | date: 'd-MM-yyyy'}}</div>
                                                                <div class="col-md-6 col-lg-6 col-12" *ngIf="service.service_name === 'Mating'">Date: --</div>
                                                                <div class="col-md-6 col-lg-6 col-12" *ngIf="service.service_name !== 'Mating'">Time: {{service.booking_time}}</div>
                                                                <div class="col-md-6 col-lg-6 col-12" *ngIf="service.service_name === 'Mating'">Time: --</div>
                                                                <div class="col-12">Friend's Name: {{service.VendorFirstName}} {{service.VendorLastName}}</div>
                                                                <div class="col-12">Status: <span class="font-weight-bold" [ngClass]="{'text-danger' : service.status_name === 'Rejected', 'text-success' : service.status_name === 'Confirmed'}">{{service.status_name}}</span></div>
                                                                <div class="col-md-6 col-lg-6 col-12">Price: INR {{service.total_amount}}</div>
                                                                <div class="col-12">
                                                                    <button type="submit" class="payment-button" *ngIf="service.status_name === 'Approved'" (mousedown)="makePayment(service.total_amount, service.id)">Payment</button>
                                                                    <button type="submit" class="payment-button" *ngIf="service.status_name === 'Upcoming'" [routerLink]="['/user/vendor', service.id]" target="_blank">Book Vendor</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [style.display]="selectProfileTypeCount === 3 ? 'block' : 'none'">service</div>
                <div [style.display]="selectProfileTypeCount === 4 ? 'block' : 'none'">pervious case</div>
                <div [style.display]="selectProfileTypeCount === 5 ? 'block' : 'none'">
                    <div class="card e1sGxS p-3 mt-3 mb-4 p-color">
                        Image of you and your pet
                        <hr class="mt-0">
                        <div class="">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-6 mt-2">
                                    <div class="image-upload">
                                        <label for="file-input-pic1">
                                            <img src="{{uploadedFileList[0] ? uploadedFileList[0] : '../../../assets/images/become-a-partner/add_a_photo-24px.png'}}"
                                                [ngClass]="{'img-pet' : uploadedFileList[0], 'img-icon' : !uploadedFileList[0]}" />
                                        </label>
                                        <input id="file-input-pic1" type="file" (change)="uploadImages($event, 'pic-1')" />
                                    </div>
                                    <small *ngIf="imageUploadErrorMessage1" [ngClass]="{'invalid-text' : imageUploadErrorMessage1==='PNG/JPGE image file only!', 'text-success': imageUploadErrorMessage1 === 'Image uploaded Successfully!'}">{{imageUploadErrorMessage1}}</small>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6 mt-2">
                                    <div class="image-upload">
                                        <label for="file-input-pic2">
                                            <img src="{{uploadedFileList[1] ? uploadedFileList[1] : '../../../assets/images/become-a-partner/add_a_photo-24px.png'}}"
                                                alt="" srcset=""
                                                [ngClass]="{'img-pet' : uploadedFileList[1], 'img-icon' : !uploadedFileList[1]}">
                                        </label>
                                        <input id="file-input-pic2" type="file" (change)="uploadImages($event, 'pic-2')" />
                                    </div>
                                    <small *ngIf="imageUploadErrorMessage2" [ngClass]="{'invalid-text' : imageUploadErrorMessage2==='PNG/JPGE image file only!', 'text-success': imageUploadErrorMessage2 === 'Image uploaded Successfully!'}">{{imageUploadErrorMessage2}}</small>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6 mt-2">
                                    <div class="image-upload">
                                        <label for="file-input-pic3">
                                            <img src="{{uploadedFileList[2] ? uploadedFileList[2] : '../../../assets/images/become-a-partner/add_a_photo-24px.png'}}"
                                                [ngClass]="{'img-pet' : uploadedFileList[2], 'img-icon' : !uploadedFileList[2]}" />
                                        </label>
                                        <input id="file-input-pic3" type="file" (change)="uploadImages($event, 'pic-3')" />
                                    </div>
                                    <small *ngIf="imageUploadErrorMessage3" [ngClass]="{'invalid-text' : imageUploadErrorMessage3==='PNG/JPGE image file only!', 'text-success': imageUploadErrorMessage3 === 'Image uploaded Successfully!'}">{{imageUploadErrorMessage3}}</small>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6 mt-2">
                                    <div class="image-upload">
                                        <label for="file-input-pic4">
                                            <img src="{{uploadedFileList[3] ? uploadedFileList[3] : '../../../assets/images/become-a-partner/add_a_photo-24px.png'}}"
                                                [ngClass]="{'img-pet' : uploadedFileList[3], 'img-icon' : !uploadedFileList[3]}" />
                                        </label>
                                        <input id="file-input-pic4" type="file" (change)="uploadImages($event, 'pic-4')" />
                                    </div>
                                    <small *ngIf="imageUploadErrorMessage4" [ngClass]="{'invalid-text' : imageUploadErrorMessage4==='PNG/JPGE image file only!', 'text-success': imageUploadErrorMessage4 === 'Image uploaded Successfully!'}">{{imageUploadErrorMessage4}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [style.display]="selectProfileTypeCount === 6 ? 'block' : 'none'">
                    <div class="card e1sGxS p-3 mt-3 mb-4 p-color">
                        Your Addresses<a class="edit-button badge badge-light" (mousedown)="updateAddress()">Add Address</a>
                        <hr class="mt-0 mb-0">
                        <div class="alert alert-danger mt-3" *ngIf="addressErrorText">
                            {{addressErrorText}}
                        </div>
                        <div class="row" *ngIf="!addressErrorText">
                            <div class="col-md-6 col-lg-6 col-12 mt-3" *ngFor="let entry of addressList; let i = index">
                                <div class="card border-project" style="font-size: 12px; height: 200px;">
                                    <div class="card-body">
                                        <h6 class="card-title">Address {{i+1}} <img src="../../../../assets/tick.png" class="default-address" alt="Default Address" srcset="" *ngIf="entry.is_default === 1"> </h6>
                                        <p class="card-text">
                                            <!--  {{entry.is_default === 1 ? 'Default Address' : 'Address'}} -->
                                            <span>{{entry.address1}}</span><br>
                                            <span>{{entry.address2}}</span><br>
                                            <span>City: {{entry.city_name}}</span><br>
                                            <span>State: {{entry.state_name}}</span><br>
                                            <span>Pincode: {{entry.pincode}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [style.display]="selectProfileTypeCount === 7 ? 'block' : 'none'">
                    <div class="card e1sGxS p-3 mt-3 mb-4 p-color">
                        Add Pet Details
                        <hr class="mt-0 mb-0">
                        <form [formGroup]="addPetDetailsForm">
                            <div class="row pt-4 p-color">
                                <div class="col-6">
                                    <div class="card p-3 w-100 pointer text-center text-uppercase user-font-size-14 border" (mousedown)="serviceProvide('Dog')" [ngClass]="{'selection-border' : isDogSelected}">
                                        <img src="../../../../assets/images/become-a-partner/dog.png" class="service-img" alt=""> Dog
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card p-3 w-100 pointer text-center text-uppercase user-font-size-14 border" (mousedown)="serviceProvide('Cat')" [ngClass]="{'selection-border' : isCatSelected}">
                                        <img src="../../../../assets/images/become-a-partner/cat.png" class="service-img" alt=""> Cat
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                                    <input type="text" formControlName="pet_name" placeholder="Pet name" />
                                    <div class="invalid-text" *ngIf="isPetDetailsSubmit && addPetDetailsForm.controls.pet_name.errors">
                                        <div *ngIf="addPetDetailsForm.controls.pet_name.errors.required">Pet name is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                                    <select formControlName="breed">
                                        <option value="">Select Breed</option>
                                        <option *ngFor="let breed of breedList" [value]="breed.code">{{breed.value}}</option>
                                    </select>
                                    <div class="invalid-text" *ngIf="isPetDetailsSubmit && addPetDetailsForm.controls.breed.errors">
                                        <div *ngIf="addPetDetailsForm.controls.breed.errors.required">Breed is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                                    <input type="number" formControlName="pet_age" placeholder="Pet age (Year)" />
                                    <div class="invalid-text" *ngIf="isPetDetailsSubmit && addPetDetailsForm.controls.pet_age.errors">
                                        <div *ngIf="addPetDetailsForm.controls.pet_age.errors.required">Pet age (Year) is required</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                                    <input type="number" formControlName="pet_age_month" placeholder="Pet age (Month)" />
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="d-flex justify-content-center">
                                        <div class="card p-3 w-100 mr-4 pointer text-center user-font-size-100 border" (mousedown)="genderSelected('M')" [ngClass]="{'selection-border' : isMaleSelected}">Male</div>
                                        <div class="card p-3 w-100 pointer text-center user-font-size-100 border" (mousedown)="genderSelected('F')" [ngClass]="{'selection-border' : isFemaleSelected}">Female</div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3 col-6 mt-2">
                                            <div class="card p-3 w-100 mr-3 pointer text-center user-font-size-100 border" (mousedown)="lookAfterClicked(1)" [ngClass]="{'selection-border' : isLookAfterOneClicked}">0-7 kg</div>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6 mt-2">
                                            <div class="card p-3 w-100 mr-3 pointer text-center user-font-size-100 border" (mousedown)="lookAfterClicked(2)" [ngClass]="{'selection-border' : isLookAfterTwoClicked}">8-18 kg</div>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6 mt-2">
                                            <div class="card p-3 w-100 mr-3 pointer text-center user-font-size-100 border" (mousedown)="lookAfterClicked(3)" [ngClass]="{'selection-border' : isLookAfterThreeClicked}">19-45 kg</div>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-6 mt-2">
                                            <div class="card p-3 w-100 pointer text-center user-font-size-100 border" (mousedown)="lookAfterClicked(4)" [ngClass]="{'selection-border' : isLookAfterFourClicked}">45+ kg</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-5 text-center">
                                    <button type="submit" class="btn-project" (mousedown)="submitPetDetailsForm()">ADD PET</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>