<div class="container p-font">
    <div class="card shadow-sm p-4">
        <div class="p-2">
            <h5>Petcoset Admin</h5>
            <hr class="mt-0 mb-0">
        </div>
        <div class="px-2 pb-2">
            <form [formGroup]="parentForm">
                <div *ngIf="isLoginError" class="danger-alert">Invalid Email or Password!</div>
                <app-input-field [form]="parentForm" [name]="'email'" [placeholder]="'Enter Email'" validation="true"></app-input-field>
                <app-input-field [form]="parentForm" [name]="'password'" [placeholder]="'Enter Password'" type="password" validation="true"></app-input-field>
                <button type="button" class="login-button" (mousedown)="loginSubmit()">Login</button>
            </form>
        </div>
    </div>
</div>