<article>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 lable-design">
                <div class="lable-image">
                    <img src="../../../../assets/images/product/home-1/boarding.png" alt="" height="90%" width="auto">
                </div>
                <div class="lable-text p-font p-text-color">
                    <p>Boarding <img src="../../../../assets/images/forms/keyboard_arrow_up-24px.svg" style=" transform: rotate(180deg); fill: #0d519c"></p>
                </div>
                <div>
                    <app-linear-stepper [lableList]="lableList"></app-linear-stepper>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 form-design">

            </div>
        </div>
    </div>
</article>