.service-img {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.user-font-size-10 {
    font-size: 10px;
}

.user-font-size-14 {
    font-size: 14px;
}

input[type=text] {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border-radius: 6px;
    outline: none;
    border: 1px solid lightgray;
    font-size: 13px;
}

input[type=number] {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border-radius: 6px;
    outline: none;
    border: 1px solid lightgray;
    font-size: 13px;
}

input[type=time] {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border-radius: 6px;
    outline: none;
    border: 1px solid lightgray;
    font-size: 13px;
}

.image-upload {
    border: 1px solid lightgray;
    height: 40px;
    border-radius: 5px;
    width: 11%;
  }
  
.image-upload>input {
    display: none;
}
.e-calendar .e-content td.e-selected span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
    background-color: #382a2f !important;
    border: none;
    border-radius: 50%;
    color: #fff;
}
.btn-project {
    height: 40px;
    width: 50%;
    border-radius: 12px;
    background: #0d519c;
    border: 1px solid #0d519c;
    color: #fff;
    margin-bottom: 7%;
    outline: none;
    padding: 12px;
    font-size: 13px;
}

.w-70 {
    width: 70%;
}

.custom-font-weight {
    font-weight: 500;
}

.selection-border {
    border: 1px solid #0d519c !important;
}