<article class="p-font border-top border-bottom" style="min-height: 75vh;background: #fff;">
  <div class="container">
      <div class="row mt-3">
          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="p-3">
                  <div class="form-div">
                      <label class="font-weight-normal">Selected Service</label>
                      <input type="text" placeholder="Drop In" readonly>
                  </div>
                  <div class="card e1sGxS p-3 mt-3 mb-3">
                    <div class="p-3 text-uppercase border-bottom pointer user-font-size-14" (mousedown)="setNewPetDetails(1)" [ngClass]="{'selected-option': newPetDetails}">Save New Pet Details
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div [style.display]="selectProfileTypeCount === 1 ? 'block' : 'none'">
                <div class="p-3">
                    <form [formGroup]="parentForm">
                        <span class="custom-font-weight">Service provided to</span>
                        <div class="row">
                            <div class="col-6">
                                <div class="card p-3 w-100 shadow-sm pointer text-center text-uppercase user-font-size-14 border" 
                                            (mousedown)="serviceProvide('Dog')" 
                                            [ngClass]="{'selection-border' : isDogSelected}">
                                    <img src="../../../../assets/images/become-a-partner/dog.png" class="service-img" alt=""> Dog
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card p-3 w-100 shadow-sm pointer text-center text-uppercase user-font-size-14 border" 
                                            (mousedown)="serviceProvide('Cat')" 
                                            [ngClass]="{'selection-border' : isCatSelected}">
                                    <img src="../../../../assets/images/become-a-partner/cat.png" class="service-img" alt=""> Cat
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6 mt-4">
                        <span class="custom-font-weight">Pet name</span>
                        <input type="text" formControlName="pet_name">
                        </div>
                        <div class="col-md-6 mt-4">
                            <span class="custom-font-weight">Add images</span>
                            <div class="row pl-3">
                                <!-- Image 1-->
                                <div class="image-upload">
                                    <label for="file-input-pic1">
                                        <img src="{{uploadedFileList[0] ? uploadedFileList[0] : '../../../assets/images/become-a-partner/add_a_photo-24px.png'}}" 
                                                    [ngClass]="{'img-fluid' : uploadedFileList[0], 'img-icon' : !uploadedFileList[0]}"
                                                    class="ml-2 mt-2 w-50"/>
                                    </label>
                                        <input id="file-input-pic1" type="file" (change)="uploadImages($event, 'pic-1')"/>
                                </div>
                                    <small *ngIf="imageUploadErrorMessage1" 
                                            [ngClass]="{'invalid-text' : imageUploadErrorMessage1==='PNG/JPGE image file only!', 
                                                        'text-success': imageUploadErrorMessage1 === 'Image uploaded Successfully!'
                                                        }">{{imageUploadErrorMessage1}}</small>
                                <!-- Image 2-->
                                <div class="image-upload">
                                    <label for="file-input-pic2">
                                        <img src="{{uploadedFileList[0] ? uploadedFileList[0] : '../../../assets/images/become-a-partner/add_a_photo-24px.png'}}" 
                                                    [ngClass]="{'img-fluid' : uploadedFileList[0], 'img-icon' : !uploadedFileList[0]}"
                                                    class="ml-2 mt-2 w-50"/>
                                    </label>
                                        <input id="file-input-pic2" type="file" (change)="uploadImages($event, 'pic-2')" />
                                </div>
                                    <small *ngIf="imageUploadErrorMessage2" 
                                            [ngClass]="{'invalid-text' : imageUploadErrorMessage2==='PNG/JPGE image file only!', 
                                                        'text-success': imageUploadErrorMessage2 === 'Image uploaded Successfully!'
                                                        }">{{imageUploadErrorMessage2}}</small>
                                <!-- Image 3-->
                                <div class="image-upload">
                                    <label for="file-input-pic3">
                                        <img src="{{uploadedFileList[0] ? uploadedFileList[0] : '../../../assets/images/become-a-partner/add_a_photo-24px.png'}}" 
                                                [ngClass]="{'img-fluid' : uploadedFileList[0], 'img-icon' : !uploadedFileList[0]}"
                                                class="ml-2 mt-2 w-50"/>
                                    </label>
                                    <input id="file-input-pic3" type="file" (change)="uploadImages($event, 'pic-3')" />
                                </div>
                                    <small *ngIf="imageUploadErrorMessage3" 
                                            [ngClass]="{'invalid-text' : imageUploadErrorMessage3==='PNG/JPGE image file only!', 
                                                    'text-success': imageUploadErrorMessage3 === 'Image uploaded Successfully!'
                                                    }">{{imageUploadErrorMessage3}}</small>
                            </div>
                        
                        </div>
                    </div>

                    <div class="row">
                        <!-- <span class="custom-font-weight">Breed</span> -->
                        <div class="col-12 mt-4 form-div">
                            <select id="cars" formControlName="breed">
                                <option  value="" selected>Select Breed</option>
                                <option *ngFor="let breed of breedList" value="{{breed.value}}">{{breed.value}}</option>
                            </select>
                            <!-- <div *ngIf="parentForm.controls.breed.errors" class="invalid-text">
                                <div *ngIf="parentForm.controls.breed.errors.required">This field is required</div>
                            </div> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mt-4">
                        <span class="custom-font-weight">Age (yr)</span>
                        <input type="number" formControlName="age_yr">
                        </div>
                        <div class="col-md-6 mt-4">
                        <span class="custom-font-weight">Age (Mo)</span>
                        <input type="number" formControlName="age_month">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-4">
                        <span class="custom-font-weight">Sex</span>
                        <div class="d-flex justify-content-center">
                            <div class="card p-3 w-100 mr-4 shadow-sm pointer text-center user-font-size-100 border" 
                                (mousedown)="genderSelected('M')"
                                [ngClass]="{'selection-border' : isMaleSelected}">Male</div>
                            <div class="card p-3 w-100  shadow-sm pointer text-center user-font-size-100 border"
                                (mousedown)="genderSelected('F')"
                                [ngClass]="{'selection-border' : isFemaleSelected}">Female</div>
                        </div>
                        
                        </div>
                    </div>

                    <div class="mt-4">
                        <span class="custom-font-weight">Weight</span>
                        <div class="d-flex justify-content-center">
                            <div class="card p-3 w-100 mr-3 shadow-sm pointer text-center user-font-size-100 border" 
                                    (mousedown)="lookAfterClicked(1)" 
                                    [ngClass]="{'selection-border' : isLookAfterOneClicked}">0-7 kg</div>
                            <div class="card p-3 w-100 mr-3 shadow-sm pointer text-center user-font-size-100 border" 
                                    (mousedown)="lookAfterClicked(2)" 
                                    [ngClass]="{'selection-border' : isLookAfterTwoClicked}">8-18 kg</div>
                            <div class="card p-3 w-100 mr-3 shadow-sm pointer text-center user-font-size-100 border" 
                                    (mousedown)="lookAfterClicked(3)" 
                                    [ngClass]="{'selection-border' : isLookAfterThreeClicked}">19-45 kg</div>
                            <div class="card p-3 w-100 shadow-sm pointer text-center user-font-size-100 border" 
                                    (mousedown)="lookAfterClicked(4)" 
                                    [ngClass]="{'selection-border' : isLookAfterFourClicked}">45+ kg</div>
                        </div>
                        <div class="col-12 mt-4 text-center">
                            <button type="submit" class="btn-project" (mousedown)="submitPetDetails()" >Save Pet Details</button>
                        </div>
                    </div>
                    

                    </form>
                </div>
            </div>
            <div [style.display]="selectProfileTypeCount === 0 ? 'block' : 'none'">
                <div class="p-3">
                    <form [formGroup]="parentForm">
                        <!-- <div class="col-md-12 mt-3">
                            <span class="custom-font-weight">How many visits do you want?</span>
                            <div class="form-div">
                              <input type="text" formControlName="address_1" [placeholder]="isEditClicked ? '' : 'Saltlake, Kolkata-700091'" [ngClass]="{'border border-info': isEditClicked}" [readonly]="!isEditClicked">
                            </div>
                        </div> -->

                        <div class="col-md-12 mt-3">
                            <span class="custom-font-weight">How many visits do you want?</span>
                            <div class="row">
                                <div class="col-4">
                                    <div class="card p-3 w-100 shadow-sm pointer text-center text-uppercase user-font-size-14 border" 
                                                (mousedown)="serviceSelectionInterval('1')" 
                                                [ngClass]="{'selection-border' : isOneTimeSelected}">
                                         1 Visit
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card p-3 w-100 shadow-sm pointer text-center text-uppercase user-font-size-14 border" 
                                                (mousedown)="serviceSelectionInterval('2')" 
                                                [ngClass]="{'selection-border' : isTwoTimeSelected}">
                                         2 Visits
                                    </div>
                                </div>
                                <div class="col-4">
                                  <div class="card p-3 w-100 shadow-sm pointer text-center text-uppercase user-font-size-14 border" 
                                              (mousedown)="serviceSelectionInterval('3')" 
                                              [ngClass]="{'selection-border' : isMoreThanThreeTimeSelected}">
                                       3+ Visits
                                  </div>
                              </div>
                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <span class="custom-font-weight">Preferred timings</span>
                            <div class="row pt-2">
                              <div class="col-4">
                                <div class="card p-2 w-100 shadow-sm pointer text-center text-uppercase user-font-size-14 border" 
                                              (mousedown)="serviceSelectionInterval('1')" 
                                              [ngClass]="{'selection-border' : isOneTimeSelected}">
                                       1 Visit
                                  </div>
                              </div>
                              <div class="col-4">
                                <input type="time" formControlName="drop_in_time_start" placeholder="Start Time">
                              </div>
                              <div class="col-4">
                                <input type="time" formControlName="drop_in_time_end" placeholder="End Time">
                              </div>
                            </div>

                            <div class="row pt-2">
                              <div class="col-4">
                                <div class="card p-2 w-100 shadow-sm pointer text-center text-uppercase user-font-size-14 border" 
                                              (mousedown)="serviceSelectionInterval('2')" 
                                              [ngClass]="{'selection-border' : isTwoTimeSelected}">
                                       2 Visits
                                  </div>
                              </div>
                              <div class="col-4">
                                <input type="time" formControlName="drop_in_time_start" placeholder="Start Time">
                              </div>
                              <div class="col-4">
                                <input type="time" formControlName="drop_in_time_end" placeholder="End Time">
                              </div>
                            </div>
                        </div>

                        <div class="col-12 mt-4 text-center">
                          <button type="submit" class="btn-project" (mousedown)="submitDropIn()" >Submit</button>
                      </div>
                    </form>
                </div>
            </div>
          </div>
      </div>
  </div>
</article>