/* You can add global styles to this file, and also import other style files */

.p-font {
    font-family: Josefin Sans;
}

.p-text-color {
    color: #0d519c;
}

.middle-y {
    margin-top: auto;
    margin-bottom: auto;
}

.middle-x {
    margin-left: auto;
    margin-right: auto;
}

.text-white {
    color: #ffffff;
}

@media only screen and (max-width: 414px) {
    .mobileDisplay-Block-Content {
        display: block;
    }
    .mobileDisplay-None-Content {
        display: none;
    }
}

@media only screen and (min-width: 415px) {
    .desktopDisplay-Block-Content {
        display: block;
    }
    .desktopDisplay-None-Content {
        display: none;
    }
}

.invalid-text {
    color: #ff3547;
    font-size: 12px;
}

.pointer {
    cursor: pointer;
}