<div class="container-fuild">
    <img src="../../../assets/images/bg-images/home-1/Banner.png" class="img-fluid mobileDisplay-None-Content desktopDisplay-Block-Content" alt="" width="1920" height="450">
    <div class="bg-background mobileDisplay-None-Content">
        <div class="service-box-container p-4 service-box mobileDisplay-None-Content desktopDisplay-Block-Content" style="width: 85%;">
            <div class="p-font text-center mb-3" style="color: #0d519c;">
                <h2>Services We Offer</h2>
            </div>
            <div class="d-flex justify-content-around p-font">
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/boarding.png" alt="Avatar" class="img-fluid mt-3" height="130" width="130">
                                <h6 class="mt-2">Boarding</h6>
                            </div>
                            <div class="flip-card-back  rounded p-3">
                                <div style="height: 130px;">
                                    <p>Slumber parties<br>and play dates for your pet,<br>for as long you want</p>
                                </div>
                                <!--  <button type="button" class="btn btn-outline-light btn-block">Book Now</button> -->
                                <button type="button" [routerLink]="['service/boarding']" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/Drop-In.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Drop in</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p class="mb-5">We will keep visiting<br>by and say Hi!</p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/Day-Care.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Day care</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p>Daytime playtime<br>for your furry buddy with an unlimited<br>amount of hugs and snuggles
                                    </p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/Home-Sitting.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Home Sitting</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p>A professional pet-sitter<br>to look after<br>your buddy overnight</p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/Trainer.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Trainer</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p>Coaches to coach<br>your furry fairy</p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-around mt-4">
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/grooming.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Groomer</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p>Washing, Smiling, Clipping<br>drying and getting your buddy squeaky clean</p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/walking.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Walking</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p>Because we are always up for a long, bouncy scroll, sun in or sun out!</p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/mating.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Mating</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p>Bceause Love and Family, <br>knows no boundaries!</p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/veterinary.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Veterinary</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p>Regular mrdical care<br>for your BFF's good health</p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <div class="flip-card border rounded">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="../../../assets/images/product/home-1/adoption.png" alt="Avatar" class="img-fluid" height="150" width="150">
                                <h6 class="mt-2">Adoption</h6>
                            </div>
                            <div class="flip-card-back rounded p-3">
                                <div style="height: 130px;">
                                    <p>Because there's<br>no place like home</p>
                                </div>
                                <button type="button" class="service-button">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid aquarium-block  mobileDisplay-None-Content desktopDisplay-Block-Content">
            <div class="row p-0">
                <div class="col-md-9 col-lg-9 col-sm-12">

                </div>
                <div class="col-md-3 col-lg-3 col-sm-12 p-font">
                    <h3 class="py-4">Aquarium</h3>
                    <p>Fishes are just people with fins! We provide nutrition and wellness for your finny friends and keep aqua homes hygienic so that they keep floating in happiness!</p>
                    <div class="text-left">
                        <button type="button" class="aquarium-button mt-5">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center p-font" style="background: aliceblue; color: #0d519c;">
            <h3 class="pt-5 pb-3">Featured Services</h3>
            <div class="d-flex justify-content-center mobileDisplay-None-Content desktopDisplay-Block-Content p-font pb-5" style="background: aliceblue;">
                <div class="card card-design text-center mr-3">
                    <img class="card-img-top featured-img mt-4" src="../../../assets/images/others/Ambulance500.png " alt="Card image cap ">
                    <div class="card-body ">
                        <div class="post-category text-primary">
                            <i class="fa fa-folder mr-2" style="color: #0d519c;" aria-hidden="true "></i>
                            <a href="#">Services</a>,
                            <a href="#">Ambulance</a>
                        </div>
                        <h5 class="card-title">Ambulance Service</h5>
                        <div class="mb-3">
                            <div class="card-text" style="font-size: 15px; line-height: 1.4; height: 100px;">
                                Medically equipped transport services because we will always care and look out for your fondles!
                            </div>
                        </div>
                        <button type="button " class="features-button">Book Now</button>
                    </div>
                </div>
                <div class="card card-design text-center mr-3">
                    <img class="card-img-top featured-img mt-4" src="../../../assets/images/others/Dialysis500.png" alt="Card image cap ">
                    <div class="card-body ">
                        <div class="post-category text-primary">
                            <i class="fa fa-folder mr-2" style="color: #0d519c;" aria-hidden="true "></i>
                            <a href="# ">Medical</a>
                        </div>
                        <h5 class="card-title">Medical Test</h5>
                        <div class="mb-3">
                            <div class="card-text" style="font-size: 15px; line-height: 1.4; height: 100px;">
                                Regular health medical test for your companion because we know you want the best for your pet and their well being.
                            </div>
                        </div>
                        <button type="button " class="features-button">Book Now</button>
                    </div>
                </div>
                <div class="card card-design text-center mr-3">
                    <img class="card-img-top featured-img mt-4" src="../../../assets/images/others/Microchipping500.png" alt="Card image cap ">
                    <div class="card-body ">
                        <div class="post-category text-primary">
                            <i class="fa fa-folder mr-2" style="color: #0d519c;" aria-hidden="true "></i>
                            <a href="# ">Services</a>
                        </div>
                        <h5 class="card-title">Micro Chipping</h5>
                        <div class="mb-3">
                            <div class="card-text" style="font-size: 15px; line-height: 1.4; height: 100px;">
                                Keep a track about the medical history of your pet’s well being along with their safety in mind.
                            </div>
                        </div>
                        <button type="button " class="features-button">Book Now</button>
                    </div>
                </div>
                <div class="card card-design text-center mr-3">
                    <img class="card-img-top featured-img mt-4" src="../../../assets/images/others//Never-Say-Goodbye500.png" alt="Card image cap ">
                    <div class="card-body ">
                        <h5 class="card-title mt-4">Never say goodbye</h5>
                        <div class="mb-3">
                            <div class="card-text" style="font-size: 15px; line-height: 1.4; height: 100px;">
                                Remembering our favourite buddies, as they might not be with us but will always be in our memories.
                            </div>
                        </div>
                        <button type="button " class="features-button">Book Now</button>
                    </div>
                </div>
            </div>
            <!-- <app-input-field></app-input-field> -->
        </div>
    </div>

    <!-- mobile version Developed by koustav -->
    <img src="../../../assets/images/bg-images/home-1/mobile/BANNER-500.png" class="img-fluid mobileDisplay-Block-Content desktopDisplay-None-Content" alt="">
    <div class="bg-background mobileDisplay-Block-Content" style="max-width: 414px; width: auto;">
        <div class="service-box-mobile text-center mobileDisplay-Block-Content desktopDisplay-None-Content" style="margin-left: auto; margin-right: auto;">
            <div class="p-font text-center" style="color: #0d519c;">
                <h5 class="pt-3">Services We Offer</h5>
            </div>
            <div class="service-mobile">
                <div class="justify-content-around p-font" style="color: #0d519c; display: inline-flex;">
                    <div [ngClass]="isboardingClicked ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('boarding')">
                        <img src="../../../assets/images/product/home-1/mobile/BOARDING.png" alt="" height="45px" width="45px" style="margin-bottom: 22%;"><br>
                        <label class="" style="font-size: 11px;">Boarding</label>
                    </div>
                    <div [ngClass]="isDropInClicked ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('dropIn')">
                        <img src="../../../assets/images/product/home-1/mobile/DROP-IN.png" alt="" height="45px" width="45px" style="margin-bottom: 22%;">
                        <span class="mt-5" style="font-size: 11px;">Drop-in</span>
                    </div>
                    <div [ngClass]="isDayCareClicked ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('dayCare')">
                        <img src="../../../assets/images/product/home-1/mobile/DAY-CARE.png" alt="" height="50px" width="50px" class="mb-2">
                        <span class="mt-5" style="font-size: 11px;">Day-care</span>
                    </div>
                    <div [ngClass]="isHomeSittingClick ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('homeSitting')">
                        <img src="../../../assets/images/product/home-1/mobile/HOME-SETTINGS.png" alt="" height="50px" width="50px" class="mb-2">
                        <label class="" style="font-size: 11px; line-height: 1.1;">Home Sitting</label>
                    </div>
                    <div [ngClass]="isTrainnerClick ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('trinner')">
                        <img src="../../../assets/images/product/home-1/mobile/TRAINING.png" alt="" height="45px" width="45px" style="margin-bottom: 22%;">
                        <span class="mt-5" style="font-size: 11px;">Triner</span>
                    </div>
                    <div [ngClass]="isGrommingClick ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('gromming')">
                        <img src="../../../assets/images/product/home-1/mobile/GROOMING.png" alt="" height="45px" width="45px" style="margin-bottom: 22%;">
                        <span class="mt-5" style="font-size: 11px;">Grooming</span>
                    </div>
                    <div [ngClass]="isWalkingClick ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('walking')">
                        <img src="../../../assets/images/product/home-1/mobile/WALKING.png" alt="" height="45px" width="45px" style="margin-bottom: 22%;">
                        <span class="mt-5" style="font-size: 11px;">Walking</span>
                    </div>
                    <div [ngClass]="isMatingClick ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('mating')">
                        <img src="../../../assets/images/product/home-1/mobile/MATING.png" alt="" height="45px" width="45px" style="margin-bottom: 22%;">
                        <span class="mt-5" style="font-size: 11px;">Mating</span>
                    </div>
                    <div [ngClass]="isVeterinaryClicked ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('veterinary')">
                        <img src="../../../assets/images/product/home-1/mobile/VETERINARY.png" alt="" height="45px" width="45px" style="margin-bottom: 22%;">
                        <span class="mt-5" style="font-size: 11px;">Veterinary</span>
                    </div>
                    <div [ngClass]="isAdptionClicked ? 'mobile-icon-click': 'mobile-icon'" (mousedown)="getServiceText('adption')">
                        <img src="../../../assets/images/product/home-1/mobile/ADOPTING.png" alt="" height="50px" width="50px" class="mb-2">
                        <span class="mt-5" style="font-size: 11px;">Adoption</span>
                    </div>
                </div>
            </div>
            <div class="p-4" style="font-size: 13px;color: #0d519c; background: white; height: 60px;">
                {{serviceText}}
            </div>
            <div class="text-right p-2" style="background: white;border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <button type="button" class="aquarium-button-mobile my-2">Book Now</button>
            </div>
        </div>
    </div>
    <div class="container-fluid aquarium-block-mobile mobileDisplay-Block-Content desktopDisplay-None-Content">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-12">

            </div>
            <div class="col-md-3 col-lg-3 col-sm-12 p-font">
                <h3 class="py-4">Aquarium</h3>
                <p>Fishes are just people with fins! We provide nutrition and wellness for your finny friends and keep aqua homes hygienic so that they keep floating in happiness!</p>
                <div class="text-right">
                    <button type="button" class="aquarium-white-button-mobile mt-4">Book Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-font mobileDisplay-Block-Content desktopDisplay-None-Content p-0" style="background:#f2f9fc; color: #0d519c;">
        <div class="text-center pt-5 pb-3">
            <h3>Featured Services</h3>
        </div>
        <div class="feature-mobile">
            <div class="justify-content-center" style="display: inline-flex;">
                <div class="card card-design-mobile text-center mr-3 border-0 card-round-mobile ">
                    <img class="card-img-top featured-img-mobile mt-3" src="../../../assets/images/others/Ambulance500.png " alt="Card image cap ">
                    <div class="card-body ">
                        <h6 class="card-title">Ambulance Service</h6>
                        <div class="mb-3" style="height: 90px;">
                            <p class="card-text" style="font-size: 13px;">
                                Medically equipped transport services because we will always care and look out for your fondles!
                            </p>
                        </div>
                        <button type="button " class="button-mobile">Book Now</button>
                    </div>
                </div>
                <div class="card card-design-mobile text-center mr-3 border-0 card-round-mobile ">
                    <img class="card-img-top featured-img-mobile mt-3" src="../../../assets/images/others/Dialysis500.png " alt="Card image cap ">
                    <div class="card-body ">
                        <h6 class="card-title ">Dialysis</h6>
                        <div class="mb-3 " style="height: 90px; ">
                            <p class="card-text" style="font-size: 13px;">
                                Regular health dialysis for your companion because we know you want the best for your pet and their well being.
                            </p>
                        </div>
                        <button type="button " class="button-mobile">Book Now</button>
                    </div>
                </div>
                <div class="card card-design-mobile text-center mr-3 border-0 card-round-mobile ">
                    <img class="card-img-top featured-img-mobile mt-3" src="../../../assets/images/others/Microchipping500.png " alt="Card image cap ">
                    <div class="card-body ">
                        <h6 class="card-title ">Micro Chipping</h6>
                        <div class="mb-3 " style="height: 90px; ">
                            <p class="card-text" style="font-size: 13px;">
                                Keep a track about the medical history of your pet’s well being along with their safety in mind.
                            </p>
                        </div>
                        <button type="button " class="button-mobile">Book Now</button>
                    </div>
                </div>
                <div class="card card-design-mobile text-center mr-3 border-0 card-round-mobile ">
                    <img class="card-img-top featured-img-mobile mt-3" src="../../../assets/images/others/Never-Say-Goodbye500.png " alt="Card image cap ">
                    <div class="card-body ">
                        <h6 class="card-title ">Never say goodbye</h6>
                        <div class="mb-3 " style="height: 90px; ">
                            <p class="card-text" style="font-size: 13px;">
                                Remembering our favourite buddies, as they might not be with us but will always be in our memories.
                            </p>
                        </div>
                        <button type="button " class="button-mobile">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container ">
            <div class="row ">
                <div class="col-lg-5 col-md-6 ">
                    <img src="../../../assets/images/others/ambu.jpg " class="img-fluid specialServiceImg " alt=" ">
                </div>
                <div class="col-lg-7 col-md-6 ">
                    <div class="pt-3 ">
                        <div class="post-category text-primary topnav-element ">
                            <i class="fa fa-folder text-success mr-2 " aria-hidden="true "></i>
                            <a href="# ">Services</a>,
                            <a href="# ">Ambulance</a>
                        </div>
                        <h3 class="mt-2 topnav-element "><a href="blog-details.html ">Ambulance Service </a></h3>
                        <p class="py-3 ">Coming Soon</p>
                        <footer class="blog-post-footer ">
                            <div class="blog-btn ">
                                <a href="# " class="btn btn btn-outline-success text-dark ">Read More</a>
                            </div>
                        </footer>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 mt-4 ">
                    <div class="pt-3 ">
                        <div class="post-category text-primary topnav-element ">
                            <i class="fa fa-folder text-success mr-2 " aria-hidden="true "></i>
                            <a href="# ">Medical</a>
                        </div>
                        <h3 class="mt-2 topnav-element "><a href="blog-details.html ">Dialysis </a></h3>
                        <p class="py-3 text-dark ">Coming Soon</p>
                        <footer class="blog-post-footer ">
                            <div class="blog-btn ">
                                <a href="# " class="btn btn btn-outline-success ">Read More</a>
                            </div>
                        </footer>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mt-4 ">
                    <img src="../../../assets/images/others/dial.jpg " class="img-fluid specialServiceImg " alt=" ">
                </div>

                <div class="col-lg-5 col-md-6 mt-4 ">
                    <img src="../../../assets/images/others/micro.jpg " class="img-fluid specialServiceImg " alt=" ">
                </div>
                <div class="col-lg-7 col-md-6 mt-4 ">
                    <div class="pt-3 ">
                        <div class="post-category text-primary topnav-element ">
                            <i class="fa fa-folder text-success mr-2 " aria-hidden="true "></i>
                            <a href="# ">Services</a>,
                        </div>
                        <h3 class="mt-2 topnav-element "><a href="blog-details.html ">Micro Chipping</a></h3>
                        <p class="py-3 text-dark ">Coming Soon</p>
                        <footer class="blog-post-footer ">
                            <div class="blog-btn ">
                                <a href="# " class="btn btn btn-outline-success ">Read More</a>
                            </div>
                        </footer>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6 mt-4 ">
                    <div class="pt-3 ">
                        <div class="post-category text-primary topnav-element ">
                            <i class="fa fa-folder text-success mr-2 " aria-hidden="true "></i>
                            <a href="# ">Medical</a>
                        </div>
                        <h3 class="mt-2 topnav-element "><a href="blog-details.html ">Never Say Goodbye</a></h3>
                        <p class="py-3 text-dark ">Coming Soon</p>
                        <footer class="blog-post-footer ">
                            <div class="blog-btn ">
                                <a href="# " class="btn btn btn-outline-success ">Read More</a>
                            </div>
                        </footer>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 mt-4 ">
                    <img src="../../../assets/images/others/never.jpg " class="img-fluid specialServiceImg " alt=" ">
                </div>
            </div>
        </div> -->
    </div>

    <!-- <div class="container-fluid p-4 " style="background: antiquewhite; ">
        <div class="container ">
            <div class="block-title-2 ">
                <h2>OUR FEATURES</h2>
            </div>

            <div class="row ">
                <div class="col-lg-3 ">
                    <img src="../../../assets/images/product/promo-product-image-1--home-3.jpg " alt=" " class="img-fluid ">
                </div>
                <div class="col-lg-3 ">
                    <img src="../../../assets/images/product/promo-product-image-2--home-3.jpg " alt=" " class="img-fluid ">
                </div>
                <div class="col-lg-3 ">
                    <img src="../../../assets/images/product/promo-product-image-3--home-3.jpg " alt=" " class="img-fluid ">
                </div>
                <div class="col-lg-3 ">
                    <img src="../../../assets/images/product/promo-product-image-3--home-3.jpg " alt=" " class="img-fluid ">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <img src="../../../assets/images/others/mobileapps.jpg " class="img-fluid " alt=" ">
    </div> -->
</div>