<div class="card shadow-sm w-100" style="height: 100px;" [ngClass]="{'primary-card': bgcolor === 'primary', 'info-card' : bgcolor === 'success', 'danger-card' : bgcolor === 'danger', 'warning-card': bgcolor === 'warning'}">
    <div class="card-body p-font">
        <p>
            <span class="card-font font-weight-bold" style="font-size: 30px;">{{count}}</span><br>
            <span class="font-weight-bold">{{bodyLable}}</span>
        </p>
    </div>
    <div class="card-footer" *ngIf="cardFooter"><span *ngIf="footerLable">{{footerLable}}</span></div>
</div>